#form {
	position:relative;
	width: 500px;
	height: 700px;
	padding-left:20px; 
	padding-top:15px;
	background-color:#8ecae8;
    border-radius: 20px;
	margin:auto;  
}
input[type=text],[type=email]{
	width: 470px;
	height: 30px;
	font: 14px normal normal uppercase serif;
}
textarea{
	width: 470px;
	height: 90px;
font: 14px normal normal uppercase serif;
}
input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius:20px;
	margin-left:150px;
	border:0px;
	background-color:#9EC8D5;   
	font: 14px normal normal uppercase serif;
}
p{
	text-shadow: 0 1px 0#ffff;
	font-size: 24px;
}
label{
	margin: 11px 20px 00;
    font-size: 16px;
    color:#b3aba1 ;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
}